/* Color Hex Variables */
@dark: #444444;
@dark_light: #7A798A;
@dark_super_light: #CFCFCF;
@dark_lightest: #DFDFDF;
@orange_light: #FAC37C;
@orange: #F98F00;
@green_light: #3BBDB7;
@green_high_light: #00FDDC;
@red_light: #D25C68;
@grey_super_light: rgba(240, 240, 240, 0.6);

@default_font_family: 'Avenir', Helvetica, Arial, sans-serif;
